---

interface Props {
  title: string
  company: string
  description: string
  link?: string
  date: string
  location:string
}

const { title, company, description, link, date, location } = Astro.props
---

<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <h3 class="text-xl font-bold text-yellow-400">{title}</h3>
      <h4 class="font-semibold text-xl text-gray-600 dark:text-white">{company}</h4>
      <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">{date}</time>
<time class="p-0 m-0 text-sm italic text-gray-500 dark:text-white/60 flex items-center gap-1">
  <svg 
    class="h-3 w-3 inline-block opacity-80" 
    fill="currentColor" 
    xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 395.71 395.71"
  >
    <path d="M197.849 0C122.131 0 60.531 61.609 60.531 137.329c0 72.887 124.591 243.177 129.896 250.388l4.951 6.738c.579.792 1.501 1.255 2.471 1.255.985 0 1.901-.463 2.486-1.255l4.948-6.738c5.308-7.211 129.896-177.501 129.896-250.388C335.179 61.609 273.569 0 197.849 0zm0 88.138c27.13 0 49.191 22.062 49.191 49.191s-22.062 49.191-49.191 49.191c-27.114 0-49.191-22.076-49.191-49.191S170.734 88.138 197.849 88.138z"/>
  </svg>
  {location}
</time>

    </div>
  </div>
  <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">
    {description}
  </div>
</div>